//VARIABLES
$backgroundColorI : rgb(115, 173, 102);
$backgroundColorII : rgb(85, 94, 168);
$backgroundColorIII : rgb(215, 218, 219);
$backgroundColorIV : rgb(191, 202, 250);
$backgroundColorVI: rgb(140, 140, 168);
$buttonColorI : rgb(115, 173, 102);
$buttonColorII : rgb(85, 94, 168);
$buttonColorIII : rgb(183, 251, 183);
$buttonColorIV : rgb(76, 107, 250);
$navHeight: 6vh;


// rgb(255, 77, 77)
// rgb(241, 249, 149);
